MOUNTDIR=/mnt/Apo/4549705
HTMLDIR=$MOUNTDIR/export
STANDORT=WESB
APONAME="Apotheke Schug Windischeschenbach"
ERRORRECIPIENT="it@apotheke-schug.com"
RECIPIENTS=("kemnath@apotheke-schug.com" "info@kinderarzt-kemnath.de")
REPLYTO="kemnath@apotheke-schug.com"
